*{
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1193px;
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: 'Lato', sans-serif, 'Montserrat';
}
header{
    width: 100%;
    height: 90px;
    display: flex;
}

.header_slide{
    background-image: url(img/safe_image.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.83);
    height: calc(135vh - 75px);
    width: 100%;
}

nav{
    width: 100%;
    height: 51px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}
nav .header__logo{
    margin-left: 9px;
}
.topnav a{
    color: #ffffff;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 500;
    margin: 0px 31px 0;
    padding-bottom: 34px;
}
.topnav a:last-child{
    margin-right: 0;
}
.topnav a:hover{
    border-bottom: 1px solid #fff;
}

.header_title {
    height: 111vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header_title h1{
    color: #ffffff;
    font-family: "Lato";
    font-size: 63px;
    font-weight: 700;
    text-transform: uppercase;
}
@media (max-height: 490px) {
    .header_slide, .header_title {
        height: auto;
    }
    .header_title {
        margin: 30px 0;
    }
}

.header_title h3{
    color: #ffffff;
    font-family: Georgia;
    font-size: 32px;
    font-style: italic;
    line-height: 47px;
    text-align: center;
}
.member{
    height: 120px;
    position: sticky;
    bottom: 0;
    min-height: 2em;
  }
  
  .registration{
    min-height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-size: 22px;
  }
  
  .login{
    min-width: 45%;
    background-color: #21424a;
    z-index: 1;
    text-align: right;
    color: white;
  }
  
  .login::after{
  content: "";
  width: 0;
  height: 0;
  border-left: 49px solid #21424a;
  border-right: 32px solid transparent;
  border-top: 120px solid #21424a;
  position: absolute;
  }
  
  .login:hover{
    background-color: #2fac6c;
    cursor: pointer;
  }
  
  .login:hover::after{
    background-color: #2fac6c;
    border-left: 50px solid #2fac6c;
    border-right: 32px solid transparent;
    border-top: 120px solid #2fac6c;
    cursor: pointer;
  }
  
  .registration span{
    position: relative;
    top: 35%;
  }
  .login span{
      margin-right: 25%;
  }
  .register span{
    margin-left: 37%;
}
  
  .register{
    min-width: 55%;;
    background-color: #2fac6c;
    text-align: left;
    color: white;
  }
  
  .register:hover{
    background-color: #21424a;
    cursor: pointer;
  }
  

/*section check domain*/

section.check{
    background-color: #ffffff;
    margin-bottom: 94px;
}
.suggest_block{
    text-align: center;
    margin-top: 90px;
}
.suggest_block p.sugg_qstn{
    font-family: 'Lato';
    font-size: 22px;
    font-weight: 400;
    color: rgba(56, 55, 55, 255);
}
.suggest_block p.sugg_descript{
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 400;
    color: rgba(162, 162, 162, 255);
    margin-top: 27px;
}


form.domain_form{
    text-align: center;
    max-width: 889px;
    height: 50px;
    border: 1px solid #cbcbcb; 
    display: flex;
    margin: auto;
    margin-top: 49px;
}

.domain_form label.domain_label{
    margin: 5px 0;
	padding: 8px 15px;
	font-size: 16px;
	line-height: 16px;
	background-color: transparent;
	color: #cbcbcb;
	border-right: 1px solid #d9d9d9;
}
.domain_form input.domain_input{
    padding: 15px;
    font-size: 15px;
    border: 0;
    background-color: transparent;
    font-weight: 500;
    padding-right: 0;
}
.domain_form .domain_select_wrapper{
    position: relative;
    height: auto;
    margin: 5px 0;
    width: 85px;
    margin-left: auto;
    overflow: hidden;
    border-left: 1px solid #d9d9d9;
}
.domain_form .domain_select{
    height: 100%;
    font-size: 16px;
	line-height: 16px;
	background-color: transparent;
    color: #cbcbcb;
    border: 0;
}


/* my table*/
.domain_list {
    display: flex;
    flex-wrap: wrap;
    max-width: 889px;
    border: 1px solid #d9d9d9;
    margin: 30px auto 0;
}
 .domain_list li{
    width: 25%;
    position: relative;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cbcbcb;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
 .domain_list li:after {
    content: '';
    display: block;
    height: 1px;
    background: #d9d9d9;
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
}
 .domain_list li:before {
    content: '';
    display: block;
    width: 1px;
    background: #d9d9d9;
    position: absolute;
    right: 0;
    top: 10px;
    bottom: 10px;
}
 .domain_list li:nth-child(4n):before {
    content: none;
}
 .domain_list li:nth-child(n+5):after {
    content: none;
}

/*package section*/
section.package{
    width: 100%;
    height: max-content;
    background-color: #ffffff;
    background-image: url(img/Packages_Photo.png);
    background-blend-mode: multiply;
    background-repeat:no-repeat;
}
section.package div.cards_sect{
    margin:auto;
    padding-top: 100px;
    padding-bottom: 96px;
    border-bottom: 2px dotted #d4d4d4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 1357px){
    .cards_sect section{
        margin-top: 20px;
    }
}
div.cards_sect section{
    box-shadow: 0 2px 2px rgba(0,0,0,0.15), 0 0 0 1px #eee;    
}

div.cards_sect section{
    position: relative;
    float: left;
    width: 255px;
    height: 565px;
    min-height: 570px;
    border: 0;
    background: #ffffff;
}
.package-icon{
    width: 45px;
    height: 45px;
    font-size: 17px;
    font-weight: bold;
    margin: auto;
    margin-top: 36px;
    transform: rotate(315deg);
    
}
.package-icon .icon{
    transform: rotate(45deg);
    padding: 13px;
  }

.cards_sect section .package-name{
    text-align: center;
    height: 16px;
    color: #282828;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 28px;
    padding: 20px 0;
}

.cards_sect section .package-features{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 245px;
    margin-left: 28px;
    margin-right: 27px;
    padding-top: 20px;
    padding-bottom: 17px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
.cards_sect .package-features .prop span.name{
    color: #b4b4b4;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 300;
    float: left;
}

.cards_sect .package-features .prop span.val{
    float: right;
    font-family: "Lato";
    font-weight: 400;
}

.cards_sect .tariff-cost{
    width: 105px;
    height: max-content;
    margin: auto;
    margin-top: 34px;
    padding-bottom: 7px;
    text-align: center;
}

.cards_sect .tariff-cost span.dollar{
    font-size: 15px;
    font-weight: 800;
}
.cards_sect .tariff-cost span.cost{
    font-family: "Lato";
    font-size: 28px;
    font-weight: 700;
}
.cards_sect .tariff-cost span.period{
    font-family: 'Lato';
    font-size: 13px;
    color: #8d8d8d;
    font-weight: 400;
}
.cards_sect .select{
    text-align: center;
    width: max-content;
    margin: auto;
    margin-top: 20px;    
}
.cards_sect .select a{
    text-decoration: none;
    color: #282828;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

/*only left block*/
div.cards_sect section.box_left{
    border-top: 5px solid #f9d423;
}
section.box_left .package-icon{
    color: #f9d423;
    border-radius: 50%;
    border: 5px solid #f9d423;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}
.cards_sect section.box_left .package-features .prop span.val{
    color: #f9d423;
}
.cards_sect  section.box_left .tariff-cost{
    border-bottom: 4px solid #f9d423;
}

/*only L_center block*/

div.cards_sect section.box_L_center{
    border-top: 5px solid #7f8c8d;
}
section.box_L_center .package-icon{
    color: #7f8c8d;
    border-radius: 100%;
    border: 5px solid #7f8c8d;
    border-top-color: transparent;
    border-left-color: transparent;
}
.cards_sect section.box_L_center .package-features .prop span.val{
    color: #7f8c8d;
}
.cards_sect  section.box_L_center .tariff-cost{
    border-bottom: 4px solid #7f8c8d;
}

/*only R_center block*/

div.cards_sect section.box_R_center{
    border-top: 5px solid #f85f40;
}
section.box_R_center .package-icon{
    color: #f85f40;
    border-radius: 100%;
    border: 5px solid #f85f40;
    border-top-color: transparent;
}
.cards_sect section.box_R_center .package-features .prop span.val{
    color: #f85f40;
}
.cards_sect  section.box_R_center .tariff-cost{
    border-bottom: 4px solid #f85f40;
}


/*only right block*/

div.cards_sect section.box_right{
    border-top: 5px solid #1abc9c;
}
section.box_right .package-icon{
    color: #1abc9c;
    border-radius: 100%;
    border: 5px solid #1abc9c;
}
.cards_sect section.box_right .package-features .prop span.val{
    color: #1abc9c;
}
.cards_sect  section.box_right .tariff-cost{
    border-bottom: 4px solid #1abc9c;
}


/*ABOUT US*/
section.about_us{
    height: max-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 92px auto;
}
@media screen and (max-width: 1080px){
    .about_us .pers-info{
        margin-left: 0;
        margin-top: 20px;
    }
}

.about_us .story{
    width: 419px;
    border-right: 2px dotted #d4d4d4;
    padding-right: 99px;
}
.about_us .title{
    width: 147px;
    height: max-content;
    font-size: 35px;
    color: #303030;
    font-family: "Lato";
}

.about_us .title span.about{
    font-weight: 900;
}
.about_us .title span.us{
    font-weight: 400;
}

section.about_us .slogan{
    max-width: 419px;
    height: max-content;
    margin-top: 33px;
    color: #747474;
    font-family: "Lato";
    font-size: 17px;
    font-weight: 400;
    line-height: 27.08px;
}
/*pers-info*/
.about_us .pers-info{
    height:  max-content;
    max-width: 548px;
    width: 48%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about_us .pers-info .creators{
    width: auto;
    height: 100%;
}

.creators .photo{
    overflow: hidden;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    background-color: #e5e5e5;
}
.creators .photo .cut{
    margin-top: -28px;
    margin-left: -74px;
}
.creators .name, .proffesion{
    margin: auto;
    margin-top: 21px;
    width: max-content;
    height: max-content;
    color: #303030;
    font-family: "Lato";
    font-size: 17px;
    font-weight: 600;
}
.creators .proffesion{
    color: #8e8e8e;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}
.creators .icons{
    display: flex;

    justify-content: space-around;
    height: 15px;
    color: #bfbfbf;
    font-family: "Font Awesome";
    font-weight: 400;
    font-size: 14px;
    margin-right: 0px;
    margin-top: 12px;
}
.creators .icons i {
    width: 8px;  
}
.creators .icons i:hover {
    color: #1f89ba;
}

/*comments section*/
section.comments{
    background-image: url(img/Comments_BG_Photo.png);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
    padding: 53px auto;
    color: #ffffff;    
}
.slider-container{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden; 
    text-align: center;
  }
  
  .menu {
    position: absolute;
    z-index: 900;
    width: 100%;
    bottom: 0;
  }
  
  .menu label {
    cursor: pointer;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #ffffff;
    margin: 0 .2em 1em;
  }
  .menu label:active{
      background: #fff;
  }
  .menu label:hover{
    background: #fff;
}
  [id^="slide-dot"]{
      display: none;
  }
  .slide {
    width: 100%;
    height: calc(100% - 53px);
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    margin: auto;
    margin-top: 53px;
    transition: left 0s .75s;
  }
  
  [id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
  }

/*functions*/

.functions{
    width: 100%;
    min-height: max-content;
    background-color: #ffffff;    
    margin-bottom: 108px;
}
.functions .wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 99px;
}
@media screen and(max-width: 1200px){
    .wrapper .function{
        margin-top: 20px;
    }
}
/*for all function blocks*/
.wrapper .function{
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.service-icon .icon{
    position: relative;
    width: max-content;
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
}
.advantages{
    width: max-content;
    color: #303030;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
}
.recommend{
    color: #7e7e7e;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 300;
    line-height: 22.03px;
    width: 223px;
    text-align: center;
}

/*block only*/


/*first block only*/
.function:nth-child(1) .service-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #f1c40f;
    background-color: #f1c40f;
    background-blend-mode: multiply;
}
.function:nth-child(1) .service-icon .icon{
    top: 13px;
    left: 21px;
}




/*secound*/
.function:nth-child(2) .service-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #0faff1;
    background-color: #0faff1;
    background-blend-mode: multiply;
}
.function:nth-child(2) .service-icon .icon{
    top: 12px;
    left: 13px;
}


 /*third*/
 .function:nth-child(3) .service-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #95a5a6;
    background-color: #95a5a6;
    background-blend-mode: multiply;
}
.function:nth-child(3) .service-icon .icon{
    top: 12px;
    left: 16px;
}


/*fourth*/
.function:nth-child(4) .service-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #f1540f;
    background-color: #f1540f;
    background-blend-mode: multiply;
}
.function:nth-child(4) .service-icon .icon{
    top: 12px;
    left: 16px;
}


/*footer*/
footer {
	padding-bottom: 56px;
	background-color: #2a2a2a;
}

footer .footer-head{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-height: max-content;
    height: max-content;
    border-bottom: 1px solid #4a4a4a;
}
@media (max-width: 570px){
    footer .footer-head{
        padding-bottom: 48px;
    }
}
footer nav{
    margin-top: 24px;
}
.footnav a{
    color: #686868;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 500;
    margin: 0px 21px 0;
    text-transform: uppercase;
}
.footnav a:last-child{
    margin-right: 0;
}
.footnav a:hover{
    color: #fff;
}

.information{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-height: max-content;
    height: max-content;
    color: #686868;  
    margin-top: 52px;
    font-family: "Lato";  
}
@media screen and (max-width: 1420px){
    .site_links{
        padding: 0;
        margin-top: 20px;
        border-color: transparent;
    }
    .contacts{
        margin-top: 20px;
    }
}
 .auther_info {
    display: flex;
    width: 292px;
    height: 106px;;
    flex-direction: column;
    justify-content: space-between;
    margin-right: auto;
 }
 .auther_info .epigraph{
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;    
    float: left;
 }
 .auther_info .auther{
    font-weight: 400;
    line-height: 26px;
 }
.auther span{
    font-weight: 700;
    line-height: 26px;
}

.information .site_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #686868;
    padding-left: 108px;
    padding-right: 108px;
    border: 2px solid #393939;
    border-bottom: transparent;
    border-top: transparent;
}
@media (max-width: 1400px){
    .site_links{
        padding-left: auto;
        padding-right: auto;
    }
}
.site_links .list_1{
    padding-right: 69px;
}
.site_links ul li{
    list-style-type: none;
}
.site_links ul li::before{
    content: "❯";
    color: #686868;
    font-family: "Font Awesome";
    font-size: 14px;
    font-weight: 400;
    line-height: 29.04px;
    cursor: pointer;
    padding-right: 8px;
}
.site_links ul li::before:hover{
    color: #ffffff;
}
.site_links ul li::before:active{
    color: #ffffff;
}
.site_links li a{
    color: #686868;
    font-family: "Lato";
}

.site_links li a:hover{
    color: #ffffff;
}
.site_links li a:active{
    color: #ffffff;
}


.contacts {
    margin-left: auto;
    display: flex;
    flex-direction: column;  
    justify-content: space-around;
  
}
.contacts .telephone{
    display: flex;
    flex-direction: row;
}
.contacts .email{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.telephone a{
    font-size: 14px;
    font-weight: 400;
    font-family: "Lato";    
}
.email a{
    font-family: "Lato";
    font-size: 15px;
    font-weight: 300;    
}
.contacts .telephone{
    display: flex;
    flex-direction: row;
}
.contacts .adress{
    font-size: 15px;
    font-weight: 300;
    line-height: 29.12px;    
}
.contacts a{
    color: #686868;
    font-family: "Lato";
    cursor: pointer;
}
.contacts a:hover{
    color: #ffffff;
}
.contacts a:hover{
    color: #ffffff;
}
.contacts .icon{
    width: max-content;
    height: 13px;
    font-family: "Font Awesome";
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;        
}
.contacts .telephone .icon{
    margin-right: 12px;
}

.contacts .icon:hover{
    color: #ffffff;
}
.contacts .icon:active{
    color: #ffffff;
}








@media screen and (max-width: 1200px){
    nav{
        margin-left: 20%;
    }
}

@media screen and (max-width: 1100px){
    nav{
        margin-left: 10%;
    }
}