*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: 'Lato', sans-serif, 'Montserrat';
}
header{
    width: 100%;
    height: 90px;
    display: flex;
}

.header_slide{
    background-image: url(img/safe_image.jpg);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.83);
    height: 943px;
}

nav{
    width: 100%;
    height: 51px;
    margin-right: 203px;
    margin-left: 202px;
    margin-top: 39px;
    display: flex;
    justify-content: flex-end;
}
nav .header__logo{
    margin-right: auto;
    margin-left: 3px;
    margin-bottom: 29px;
}
.topnav a{
    color: #ffffff;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 500;
    padding: 34px 16px;
}
.topnav a:hover{
    border-bottom: 1px solid #fff;
}
.topnav .icon{
    display: none;
}
.header_hello h1{
    color: #ffffff;
    font-family: "Lato";
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    height: 72px;
    margin-top: 346px;
    text-align: center;

}

.header_tagline{
    color: #ffffff;
    font-family: Georgia;
    font-size: 32px;
    font-style: italic;
    line-height: 47px;
    text-align: center;
    margin-top: 33px;
}

.login_form{
    background: #2fac6c;
    background-size: 100% 122px;
    height: 122px;
    display: flex;
    justify-content: space-around;
}

.login_form .log_btn{
    background-image: url(img/log_background.png);
    background-size: 100% 100%;
    background-color: Transparent;
}

.login_form .reg_btn{
    background-color: Transparent;
}
.log_btn, .reg_btn{
    font-family: "Lato";
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    height: 122px;
    width: 50%;
}


/*section check domain*/

section.check{
    background-color: #ffffff;
    width: 100%;
    height: 578px;
}
section.check div.domain_review .suggest_block{
    text-align: center;
    margin-top: 90px;
}
section.check div.domain_review .suggest_block p.sugg_qstn{
    font-family: 'Lato';
    font-size: 22px;
    color: rgba(56, 55, 55, 255);
}
section.check div.domain_review .suggest_block p.sugg_descript{
    font-family: 'Montserrat';
    font-size: 15px;
    color: rgba(162, 162, 162, 255);
    margin-top: 27px;
}


section.check form.domain_form{
    text-align: center;
    width: 890px;
    height: 50px;
    border: 1px solid #cbcbcb; 
    display: flex;
    margin: auto;
    margin-top: 49px;
}

section.check form.domain_form label.domain_label{
    margin: 5px 0;
	padding: 8px 15px;
	font-size: 16px;
	line-height: 16px;
	background-color: transparent;
	color: #cbcbcb;
	border-right: 1px solid #d9d9d9;
}
section.check form.domain_form input.domain_input{
    padding: 15px;
    font-size: 15px;
    width: 730px;
    border: 0;
    background-color: transparent;
    font-weight: 500;
    padding-right: 0;
}
section.check form.domain_form .domain_select_wrapper{
    position: relative;
    height: auto;
    margin: 5px 0;
    width: 85px;
    overflow: hidden;
    border-left: 1px solid #d9d9d9;
}
section.check form.domain_form .domain_select{
    height: 100%;
    font-size: 16px;
	line-height: 16px;
	background-color: transparent;
    color: #cbcbcb;
    border: 0;
}


/* my table*/
section.check table.domain_table{
    margin:auto;
    margin-top: 38px;
    margin-bottom: 90px;
    width: 892px;
    height: 197px;
    padding: 19px;
    border: 1px solid #d9d9d9;
}

section.check table.domain_table tr, td{
    text-align: center;
    width: 220px;
    height: 99px;
    margin-top: 19px;
    color: rgba(203, 203, 203, 255);
    font-size: 12px;
    font-family:'Lato';
}
.domain_table tr td::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 40px;
    color:black;
    display: inline-block;
}





/*package section*/
section.package{
    width: 100%;
    height: 1067px;
    background-color: #ffffff;
    height: 710px;
    background-blend-mode: multiply;
    background-image: url(img/sect_backg.jpg);
    background-size: 100% 400px ;
    background-repeat:no-repeat;
    
    /*
    background-blend-mode: multiply;
    background-image: repeating-linear-gradient(-45deg,
    transparent,
    transparent 5px,
    rgba(80, 80, 80, 0.692) 6px,
    rgba(80, 80, 80, 0.692) 1px); */

}
section.package div.cards_sect{
    margin:auto;
    width: 75%;
    height: 655px;
    padding-top: 100px;
    padding-bottom: 96px;
    border-bottom: 2px dotted #d4d4d4;

}


div.cards_sect section{
    position: relative;
    float: left;
    width: 255px;
    height: 565px;
    min-height: 570px;
    border: 0;
    background: #ffffff;
}
div.cards_sect section.box_left{
    border-top: 5px solid #f9d423;
    box-shadow: 0 2px 2px rgba(0,0,0,0.15), 0 0 0 1px #eee;
    
}
.package-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #f9d423;
    font-size: 17px;
    font-weight: bold;
    border: 5px solid #f9d423;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    margin: auto;
    margin-top: 36px;
    transform: rotate(315deg);
    
}
.package-icon .icon{
    transform: rotate(45deg);
    padding: 15px 15px;
  }

div.cards_sect section.box_left .package-name{
    text-align: center;
    height: 16px;
    color: #282828;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 28px;
    margin-right: 27px;
    padding-bottom: 19px;
    border-bottom: 1px solid #dfdfdf;
}

div.cards_sect section.box_left .package-features{
    display: flex;
    flex-direction: column;
    height: 245px;
    margin-left: 28px;
    margin-right: 27px;
    padding-bottom: 19px;
}
















@media screen and (max-width: 1200px){
    nav{
        margin-left: 20%;
    }
}

@media screen and (max-width: 1100px){
    nav{
        margin-left: 10%;
    }
}

@media screen and (max-width: 1000px){
    .topnav a{display: none;}
    .topnav .icon {
        float: right;
        display: block;
        color: #fff;
        font-size: 25px;
        margin-top: -40px;
    }
    nav{width: 100%;}
    .topnav.responsive{
        position: relative;
        top: 50px;
        left: -200px;
    }
    header .topnav.responsive{
        height: 340px;
    }
    .topnav.responsive a{
        float: none;
        text-align: left;
        display: block;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        left: -200px;
    }
}