*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: 'Lato', sans-serif, 'Montserrat';
}
header{
    width: 100%;
    height: 90px;
    display: flex;
}

.header_slide{
    background-image: url(img/safe_image.jpg);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.83);
    height: 943px;
}

nav{
    width: 100%;
    height: 51px;
    margin-right: 203px;
    margin-left: 202px;
    margin-top: 39px;
    display: flex;
    justify-content: flex-end;
}
nav .header__logo{
    margin-right: auto;
    margin-left: 3px;
    margin-bottom: 29px;
}
.topnav a{
    color: #ffffff;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 500;
    padding: 34px 16px;
}
.topnav a:hover{
    border-bottom: 1px solid #fff;
}
.topnav .icon{
    display: none;
}
.header_hello h1{
    color: #ffffff;
    font-family: "Lato";
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    height: 72px;
    margin-top: 346px;
    text-align: center;

}

.header_tagline{
    color: #ffffff;
    font-family: Georgia;
    font-size: 32px;
    font-style: italic;
    line-height: 47px;
    text-align: center;
    margin-top: 33px;
}

.member{
    height: 120px;
  }
  
  .registration{
    min-height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-size: 22px;
  }
  
  .login{
    min-width: 50%;
    background-color: #21424a;
    z-index: 1;
    text-align: center;
    color: white;
  }
  
  .login::after{
  content: "";
  width: 19%;
  height: 0;
  border-left: 50px solid #21424a;
  border-right: 50px solid transparent;
  border-top: 120px solid #21424a;
  position: absolute;
  }
  
  .login:hover{
    background-color: #2fac6c;
    cursor: pointer;
  }
  
  .login:hover::after{
    background-color: #2fac6c;
    border-left: 50px solid #2fac6c;
  border-right: 50px solid transparent;
  border-top: 120px solid #2fac6c;
    cursor: pointer;
  }
  
  .registration span{
    position: relative;
    top: 35%;
  }
  
  .register{
    min-width: 50%;
    background-color: #2fac6c;
    text-align: center;
    color: white;
  }
  
  .register:hover{
    background-color: #21424a;
    cursor: pointer;
  }
  

/*section check domain*/

section.check{
    background-color: #ffffff;
    width: 100%;
    height: 578px;
}
section.check div.domain_review .suggest_block{
    text-align: center;
    margin-top: 90px;
}
section.check div.domain_review .suggest_block p.sugg_qstn{
    font-family: 'Lato';
    font-size: 22px;
    color: rgba(56, 55, 55, 255);
}
section.check div.domain_review .suggest_block p.sugg_descript{
    font-family: 'Montserrat';
    font-size: 15px;
    color: rgba(162, 162, 162, 255);
    margin-top: 27px;
}


section.check form.domain_form{
    text-align: center;
    width: 890px;
    height: 50px;
    border: 1px solid #cbcbcb; 
    display: flex;
    margin: auto;
    margin-top: 49px;
}

section.check form.domain_form label.domain_label{
    margin: 5px 0;
	padding: 8px 15px;
	font-size: 16px;
	line-height: 16px;
	background-color: transparent;
	color: #cbcbcb;
	border-right: 1px solid #d9d9d9;
}
section.check form.domain_form input.domain_input{
    padding: 15px;
    font-size: 15px;
    width: 730px;
    border: 0;
    background-color: transparent;
    font-weight: 500;
    padding-right: 0;
}
section.check form.domain_form .domain_select_wrapper{
    position: relative;
    height: auto;
    margin: 5px 0;
    width: 85px;
    overflow: hidden;
    border-left: 1px solid #d9d9d9;
}
section.check form.domain_form .domain_select{
    height: 100%;
    font-size: 16px;
	line-height: 16px;
	background-color: transparent;
    color: #cbcbcb;
    border: 0;
}


/* my table*/
section.check table.domain_table{
    margin:auto;
    margin-top: 38px;
    margin-bottom: 90px;
    width: 892px;
    height: 197px;
    padding: 19px;
    border: 1px solid #d9d9d9;
}

section.check table.domain_table tr, td{
    text-align: center;
    width: 220px;
    height: 99px;
    margin-top: 19px;
    color: rgba(203, 203, 203, 255);
    font-size: 12px;
    font-family:'Lato';
}
.domain_table tr td::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 40px;
    color:black;
    display: inline-block;
}





/*package section*/
section.package{
    width: 100%;
    height: max-content;
    background-color: #ffffff;
    background-image: url(img/sect_backg.jpg);
    background-blend-mode: multiply;
    background-size: 100% 400px ;
    background-repeat:no-repeat;
    
    /*
    background-blend-mode: multiply;
    background-image: repeating-linear-gradient(-45deg,
    transparent,
    transparent 5px,
    rgba(80, 80, 80, 0.692) 6px,
    rgba(80, 80, 80, 0.692) 1px); */

}
section.package div.cards_sect{
    margin:auto;
    width: 75%;
    height: 655px;
    padding-top: 100px;
    padding-bottom: 96px;
    border-bottom: 2px dotted #d4d4d4;
    display: flex;
    justify-content: space-between;
}
div.cards_sect section{
    box-shadow: 0 2px 2px rgba(0,0,0,0.15), 0 0 0 1px #eee;    
}

div.cards_sect section{
    position: relative;
    float: left;
    width: 255px;
    height: 565px;
    min-height: 570px;
    border: 0;
    background: #ffffff;
}
.package-icon{
    width: 45px;
    height: 45px;
    font-size: 17px;
    font-weight: bold;
    margin: auto;
    margin-top: 36px;
    transform: rotate(315deg);
    
}
.package-icon .icon{
    transform: rotate(45deg);
    padding: 13px;
  }

  div.cards_sect section .package-name{
    text-align: center;
    height: 16px;
    color: #282828;
    font-family: 'Lato';
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 28px;
    padding: 20px 0;
}

.cards_sect section .package-features{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 245px;
    margin-left: 28px;
    margin-right: 27px;
    padding-top: 20px;
    padding-bottom: 17px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
.cards_sect .package-features .prop span.name{
    color: #b4b4b4;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 300;
    float: left;
}

.cards_sect .package-features .prop span.val{
    float: right;
    font-family: "Lato";
    font-weight: 400;
}

.cards_sect .tariff-cost{
    width: 105px;
    height: 21px;
    margin: auto;
    margin-top: 34px;
    padding-bottom: 7px;
    text-align: center;
}

.cards_sect .tariff-cost span.dollar{
    font-size: 15px;
    font-weight: 800;
}
.cards_sect .tariff-cost span.cost{
    font-family: "Lato";
    font-size: 21px;
    font-weight: 700;
}
.cards_sect .tariff-cost span.period{
    font-family: 'Lato';
    font-size: 13px;
    color: #8d8d8d;
    font-weight: 400;
}
.cards_sect .select{
    text-align: center;
    width: max-content;
    margin: auto;
    margin-top: 20px;    
}
.cards_sect .select a{
    text-decoration: none;
    color: #282828;
    font-family: 'Lato';
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

/*only left block*/
div.cards_sect section.box_left{
    border-top: 5px solid #f9d423;
}
section.box_left .package-icon{
    color: #f9d423;
    border-radius: 50%;
    border: 5px solid #f9d423;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}
.cards_sect section.box_left .package-features .prop span.val{
    color: #f9d423;
}
.cards_sect  section.box_left .tariff-cost{
    border-bottom: 4px solid #f9d423;
}

/*only L_center block*/

div.cards_sect section.box_L_center{
    border-top: 5px solid #7f8c8d;
}
section.box_L_center .package-icon{
    color: #7f8c8d;
    border-radius: 100%;
    border: 5px solid #7f8c8d;
    border-top-color: transparent;
    border-left-color: transparent;
}
.cards_sect section.box_L_center .package-features .prop span.val{
    color: #7f8c8d;
}
.cards_sect  section.box_L_center .tariff-cost{
    border-bottom: 4px solid #7f8c8d;
}

/*only R_center block*/

div.cards_sect section.box_R_center{
    border-top: 5px solid #f85f40;
}
section.box_R_center .package-icon{
    color: #f85f40;
    border-radius: 100%;
    border: 5px solid #f85f40;
    border-top-color: transparent;
}
.cards_sect section.box_R_center .package-features .prop span.val{
    color: #f85f40;
}
.cards_sect  section.box_R_center .tariff-cost{
    border-bottom: 4px solid #f85f40;
}


/*only right block*/

div.cards_sect section.box_right{
    border-top: 5px solid #1abc9c;
}
section.box_right .package-icon{
    color: #1abc9c;
    border-radius: 100%;
    border: 5px solid #1abc9c;
}
.cards_sect section.box_right .package-features .prop span.val{
    color: #1abc9c;
}
.cards_sect  section.box_right .tariff-cost{
    border-bottom: 4px solid #1abc9c;
}


/*ABOUT US*/
section.about_us{
    width: 75%;
    height: max-content;
    display: flex;
    margin: 107px auto;
}

.about_us .story{
    width: max-content;
    border-right: 2px dotted #d4d4d4;
    padding-right: 99px;
}
.about_us .title{
    width: 147px;
    height: max-content;
    font-size: 35px;
    color: #303030;
    font-family: "Lato";
}

.about_us .title span.about{
    font-weight: 900;
}
.about_us .title span.us{
    font-weight: 400;
}

section.about_us .slogan{
    width: 419px;
    height: 126px;
    margin-top: 33px;
    color: #747474;
    font-family: "Lato";
    font-size: 17px;
    font-weight: 400;
    line-height: 27.08px;
}
/*pers-info*/
.about_us .pers-info{
    height:  200px;
    width: 655px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 105px;
}

.about_us .pers-info .creators{
    width: auto;
    height: 100%;
}

.creators .photo{
    overflow: hidden;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    background-color: #e5e5e5;
}
.creators .photo .cut{
    margin-top: -28px;
    margin-left: -74px;
}
.creators .name, .proffesion{
    margin: auto;
    margin-top: 21px;
    width: max-content;
    height: max-content;
    color: #303030;
    font-family: "Lato";
    font-size: 17px;
    font-weight: 600;
}
.creators .proffesion{
    color: #8e8e8e;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}
.creators .icons{
    display: flex;
    justify-content: space-between;
    height: 15px;
    color: #bfbfbf;
    font-family: "Font Awesome";
    font-weight: 400;
    margin-right: 8px;
    margin-top: 12px;
}
.creators .icons i {
    width: 8px;  
}
.creators .icons i:hover {
    color: #1f89ba;
}

/*comments section*/
section.comments{
    background-image: url(img/slid_bg.jpg);
    background-size: 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.75);
    background-position-y: -465px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
    padding: 53px auto;
    color: #ffffff;    
}
.slider-container{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden; 
    text-align: center;
  }
  
  .menu {
    position: absolute;
    z-index: 900;
    width: 100%;
    bottom: 0;
  }
  
  .menu label {
    cursor: pointer;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #ffffff;
    margin: 0 .2em 1em;
  }
  .menu label:active + :focus{
      background: #fff;
  }
  [id^="slide-dot"]{
      display: none;
  }
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    margin: auto;
    margin-top: 53px;
    transition: left 0s .75s;
  }
  
  [id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
  }




@media screen and (max-width: 1200px){
    nav{
        margin-left: 20%;
    }
}

@media screen and (max-width: 1100px){
    nav{
        margin-left: 10%;
    }
}

@media screen and (max-width: 1000px){
    .topnav a{display: none;}
    .topnav .icon {
        float: right;
        display: block;
        color: #fff;
        font-size: 25px;
        margin-top: -40px;
    }
    nav{width: 100%;}
    .topnav.responsive{
        position: relative;
        top: 50px;
        left: -200px;
    }
    header .topnav.responsive{
        height: 340px;
    }
    .topnav.responsive a{
        float: none;
        text-align: left;
        display: block;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        left: -200px;
    }
}